@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Inter:wght@100&family=Londrina+Outline&family=Space+Grotesk:wght@600&display=swap');


header{
  position: sticky;
  animation: enhance-header  linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 60px;
}


@keyframes enhance-header {
  to {
    background: rgba( 0, 0, 0, 0.75 );
    box-shadow: 0 8px 15px 0 rgba(88, 88, 88, 0.288);
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
}

.loader {
  border: 4px solid rgb(36, 36, 196);
  border-left-color: transparent;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  100% {
    transform: rotate(360deg);
  }
}
.checkbox {
  display: none;
}

.slider {
  width: 60px;
  height: 30px;
  background-color: lightgray;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 4px solid transparent;
  transition: .3s;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.25) inset;
  cursor: pointer;

}

.slider::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translateX(-30px);
  border-radius: 20px;
  transition: .3s;
  box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
  z-index: 1;

}

.checkbox:checked ~ .slider::before {
  transform: translateX(30px);
  box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);

}

.checkbox:checked ~ .slider {
  background-color: #2196F3;

}

.checkbox:active ~ .slider::before {
  transform: translate(0);

}

@keyframes openMenu {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes closeMenu {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.menu {
  transform-origin: top;
  background-color: #242526;
  animation: closeMenu .1s ease-in-out both;
  position: absolute;
  transform: scale(0);
  -webkit-box-shadow: 3px 1px 23px 8px rgba(0,0,0,0.52);
  -moz-box-shadow: 3px 1px 23px 8px rgba(0,0,0,0.52);
  box-shadow: 3px 1px 23px 8px rgba(0,0,0,0.52);
  border-radius: 10px;
  z-index: 10;
}

.menuOpen {
  animation: openMenu .1s ease-in-out both;
  transform-origin: top;
  position: absolute;
  background-color: #242526;
  -webkit-box-shadow: 3px 1px 23px 8px rgba(0,0,0,0.52);
  -moz-box-shadow: 3px 1px 23px 8px rgba(0,0,0,0.52);
  box-shadow: 3px 1px 23px 8px rgba(0,0,0,0.52);
  border-radius: 10px;
  border: 1px solid #b9b9b94b;
  z-index: 10;
}
/* Agrega estos estilos en tu archivo CSS o en línea según sea necesario */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 100%;
  max-height: 100%;
}

.modal-content img {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}

.modal-close {
  position: absolute;
  top:50px;
  right: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
#modalNotSession{
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.704);
}
#register{
  background: linear-gradient(180deg, rgba(9,121,112,1) 26%, rgba(68,150,91,1) 100%);
}
#isRegisterOk {

  z-index: 1; /* Asegura que el modal esté en un nivel superior */
}
.modalok::backdrop  {

  background-color: rgba(20, 20, 20, 0.548); /* Color de fondo semitransparente */
  z-index: -1; /* Coloca el pseudo-elemento detrás del contenido del componente */
  backdrop-filter: blur(2px);
}

